<!DOCTYPE html>
<html>
  <head>
    <title>Uses</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="fixed h-8 top-0 w-screen bg-blue-100 flex items-center px-4">
      <span class="flex-grow"><%= link_to "Uses", root_path %></span>
      <span class="flex gap-2">

<% if current_user %>
  <%= link_to "New Item", new_admin_item_path %>
  <%= button_to "Sign out", destroy_user_session_path,  method: :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>

      </span>
    </nav>
    <main class="container mx-auto mt-28 px-5 flex flex-col gap-2">
      <%= yield %>
    </main>
  </body>
</html>
