<!DOCTYPE html>
<html>
  <head>
    <title>Uses</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Items", items_path %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
